/*Tag selectors*/

p {
    font-size: 15px;
}

/*Class Selectors*/

.content {
    
    text-align: center;
    
    font-family: 'Outfit', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}